*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//bp at 1200px
$bp-large: 75em;
//bp at 1000px
$bp-medium: 62.5em;

//bp at 800px
$bp-small: 50em;

//bp at 600px
$bp-tiny: 37.5em;

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-tiny) {
    font-size: 55%;
  }
}

body {
  font-size: 1.5rem;
  font-family: $font-main;
}

ul {
  list-style: none;
}
img {
  display: block;
}
a,
a:visited,
a:link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  color: #fff;
}

button {
  border: none;
}
