.container {
  max-width: 120rem;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100%;
}

.heading-primary,
.paragraph-primary {
  margin: 0 auto;
  color: #fff;
}
.heading-primary {
  width: 70%;
  font-size: 3.7rem;
}
.paragraph-primary {
  width: 45%;
}

.heading-secondary {
  font-size: 3rem;
  width: 70%;
}

.heading-tertiary {
  font-size: 2rem;
}

.btn {
  outline: none;
  font-family: $font-secondary;
  color: #fff;
}

.btn-primary {
  padding: 1.3rem 6rem;
  background-color: $color-cyan;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-remote {
  font-family: $font-main;
  color: $color-cyan;
  padding: 0.5rem 2rem 0.5rem 0;
  border-bottom: 1px solid $color-cyan;
  position: relative;
}

.button-span {
  position: absolute;
  right: 0;
  transform: translateY(15%);
}

.paragraph-tertiary {
  opacity: 0.8;
}
