.container {
  max-width: 120rem;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 60%;
  @media only screen and (max-width: $bp-tiny) {
    width: 80%;
  }
}

.heading-primary,
.paragraph-primary {
  margin: 0 auto;
  color: #fff;
}
.heading-primary {
  width: 70%;
  font-size: 3.7rem;
  @media only screen and (max-width: $bp-small) {
    width: 90%;
  }
  @media only screen and (max-width: $bp-tiny) {
    width: 100%;
    font-size: 3.2rem;
  }
}
.paragraph-primary {
  width: 45%;
  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  width: 70%;
  @media only screen and (max-width: $bp-tiny) {
    width: 100%;
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
}

.heading-footer {
  font-size: 3.5rem;
  @media only screen and (max-width: $bp-tiny) {
    font-size: 3rem;
  }
}

.btn {
  outline: none;
  font-family: $font-secondary;
  color: #fff;
}

.btn-primary {
  padding: 1.3rem 6rem;
  background-image: linear-gradient(
    to right,
    $color-cyan,
    $color-blue,
    $color-cyan
  );
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s;
  background-size: 300%;

  &:hover {
    background-position: right;
  }
}

.btn-remote {
  font-family: $font-main;
  color: $color-cyan;
  padding: 0.5rem 2rem 0.5rem 0;
  border-bottom: 1px solid $color-cyan;
  position: relative;
}

.btn-form {
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-cyan,
    $color-blue,
    $color-cyan
  );
  transition: all 0.5s;
  background-size: 300%;

  &:hover {
    background-position: right;
  }
}

.button-span {
  position: absolute;
  right: 0;
  transform: translateY(15%);
}

.paragraph-tertiary,
.paragraph-credentials,
.paragraph-footer {
  opacity: 0.8;
}

.paragraph-user {
  font-weight: 700;
}
.paragraph-credentials {
  font-size: 1.2rem;
}

.paragraph-footer {
  font-size: 1.4rem;
}

.required {
  padding-left: 4rem;
  padding-top: 1rem;
  text-align: left;
  color: red;
  opacity: 0;
  font-size: 1.2rem;
  @media only screen and (max-width: $bp-tiny) {
    padding-left: 0;
    text-align: center;
  }
}
