.header {
  background-color: $blue-dark-intro;
  padding: 3rem;
  background-image: url("./img/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  @media only screen and (max-width: $bp-tiny) {
    padding: 3rem;
    background-image: url("./img/bg-curvy-mobile.svg");
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    flex-basis: 30%;
  }

  &__list {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 2rem;
      @media only screen and (max-width: $bp-tiny) {
        margin-right: 1rem;
      }
    }
  }

  &__link {
    color: #fff;
    transition: all 0.2s;
    &:hover {
      text-decoration: underline;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  &__text-container {
    text-align: center;
    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.section-bonuses {
  background-color: $blue-dark-main;
  padding: 9rem 5rem;
  @media only screen and (max-width: $bp-tiny) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &__bonuses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8rem;
    @media only screen and (max-width: $bp-tiny) {
      grid-template-columns: 1fr;
    }
  }

  &__bonus {
    text-align: center;
    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 115px;
    height: 100px;
    margin: 0 auto;
  }

  &__text-container {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 70%;
    }
  }
}

.section-remote {
  background-color: $blue-dark-main;
  padding: 9rem 5rem;
  @media only screen and (max-width: $bp-tiny) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }
  &__img {
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__text-container {
    padding-top: 10rem;
    padding-left: 3rem;
    flex-basis: 38%;
    @media only screen and (max-width: $bp-small) {
      padding-left: 0;
    }

    color: #fff;
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.section-testimonials {
  background-color: $blue-dark-main;
  padding: 5rem 5rem 12rem 5rem;
  @media only screen and (max-width: $bp-tiny) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &__testimonials {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    &::before {
      content: url("./img/bg-quotes.png");
      position: absolute;

      top: -3.5rem;
      left: -0.8rem;
      z-index: -1;
    }
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__testimonial {
    flex-basis: 31%;
    background-color: $blue-dark-testimonials;
    padding: 3rem 2rem 2.5rem 2rem;
    color: #fff;
    border-radius: 0.3rem;
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__paragraph {
    opacity: 0.8;
  }

  &__user-container {
    display: flex;
    align-items: center;
  }
  &__img-container {
    margin-right: 2rem;
  }
  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}

.footer {
  background-color: $blue-dark-footer;

  &__box-container {
    background-image: linear-gradient(
      180deg,
      $blue-dark-main 60%,
      $blue-dark-footer 0
    );
  }

  &__box {
    width: 70%;
    padding: 4rem 8rem 3rem 8rem;
    margin: 0 auto;
    background-color: $blue-dark-intro;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }

    @media only screen and (max-width: $bp-large) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
  }
  &__box-text-container {
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__box-form {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      width: 60%;
      margin: 0 auto;
      @media only screen and (max-width: $bp-tiny) {
        width: 100%;
      }
    }
  }
  &__input-container {
    flex-basis: 65%;
  }
  &__button-container {
    flex-basis: 35%;
    & > button {
      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.2rem;
    &:focus {
      outline: none;
    }
    &:invalid:focus:not(:placeholder-shown) {
      & ~ .required {
        opacity: 1;
      }
    }
  }
  &__details {
    padding: 5rem;
    color: #fff;
    & p,
    & a,
    & img,
    & svg {
      opacity: 0.9;
    }
  }
  &__logo-container {
    margin-bottom: 4rem;
  }

  &__about {
    display: flex;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-basis: 50%;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      flex-direction: column;
    }
  }
  &__location {
    flex-basis: 65%;
    padding-right: 2rem;
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: $bp-tiny) {
      padding-right: 0;
      margin-bottom: 2rem;
    }
    & > *:first-child {
      margin-right: 2rem;
    }

    & svg {
      vertical-align: text-bottom;
    }
  }

  &__contact {
    & svg {
      vertical-align: text-bottom;
    }
    & > * {
      display: flex;
      & > *:first-child {
        margin-right: 2rem;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__navigation {
    flex-basis: 50%;
    display: flex;
    padding-left: 8rem;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
      padding-left: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding-left: 0;
      flex-direction: column;
    }
  }

  &__nav {
    flex-basis: 60%;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
    @media only screen and (max-width: $bp-tiny) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    color: #fff;
    transition: all 0.2s;
    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    flex-basis: 40%;
    display: flex;
    & > * {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover,
      &:hover svg {
        border-color: $color-cyan;
        fill: $color-cyan;
      }
    }
    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
    & svg {
      fill: #fff;
      width: 1.6rem;
      height: 1.6rem;
    }
    @media only screen and (max-width: $bp-small) {
      justify-content: center;
    }
  }
}
