*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif; }

ul {
  list-style: none; }

a,
a:visited,
a:link {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #fff; }

.header {
  background-color: #1c2431;
  padding: 5rem; }
  .header__top {
    display: flex;
    justify-content: space-between; }
  .header__list {
    display: flex; }
    .header__list > *:not(:last-child) {
      margin-right: 2rem; }
  .header__link {
    color: #fff; }
  .header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0; }
    .header__intro > *:not(:last-child) {
      margin-bottom: 3rem; }
  .header__img {
    display: block;
    width: 80%;
    margin: 0 auto; }
  .header__text-container {
    text-align: center; }
    .header__text-container > *:not(:last-child) {
      margin-bottom: 3rem; }

.section-bonuses {
  background-color: #181f2a;
  padding: 10rem 5rem; }
  .section-bonuses__bonuses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8rem; }
  .section-bonuses__bonus {
    text-align: center; }
    .section-bonuses__bonus > *:not(:last-child) {
      margin-bottom: 3rem; }
  .section-bonuses__img {
    width: 115px;
    height: 100px; }
  .section-bonuses__text-container {
    width: 50%;
    margin: 0 auto;
    color: #fff; }
    .section-bonuses__text-container > *:not(:last-child) {
      margin-bottom: 1.5rem; }

.section-remote {
  background-color: #181f2a;
  padding: 10rem 5rem; }
  .section-remote__content {
    display: flex;
    justify-content: space-between; }
  .section-remote__img {
    width: 100%; }
  .section-remote__text-container {
    padding-top: 12rem;
    flex-basis: 38%;
    color: #fff; }
    .section-remote__text-container > *:not(:last-child) {
      margin-bottom: 2rem; }

.section-testimonials {
  background-color: #181f2a;
  padding: 5rem 5rem 12rem 5rem; }
  .section-testimonials__testimonials {
    display: flex;
    justify-content: space-between; }
  .section-testimonials__testimonial {
    flex-basis: 31%;
    background-color: #202a3c;
    padding: 3rem 2rem 2.5rem 2rem;
    color: #fff; }
    .section-testimonials__testimonial > *:not(:last-child) {
      margin-bottom: 4rem; }
  .section-testimonials__paragraph {
    opacity: 0.8; }
  .section-testimonials__user-container {
    display: flex;
    align-items: center; }
  .section-testimonials__img-container {
    margin-right: 2rem; }
  .section-testimonials__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }

.footer {
  background-color: #0b1523; }
  .footer__box-container {
    background-image: linear-gradient(180deg, #181f2a 60%, #0b1523 0); }
  .footer__box {
    width: 70%;
    padding: 4rem 8rem 3rem 8rem;
    margin: 0 auto;
    background-color: #1c2431;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff; }
    .footer__box > *:not(:last-child) {
      margin-bottom: 4rem; }
  .footer__box-text-container > *:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__box-form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__input-container {
    flex-basis: 65%; }
  .footer__button-container {
    flex-basis: 35%; }
  .footer__input {
    width: 100%;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.2rem; }
  .footer__details {
    padding: 5rem;
    color: #fff; }
    .footer__details p,
    .footer__details a,
    .footer__details img,
    .footer__details svg {
      opacity: 0.9; }
  .footer__logo-container {
    margin-bottom: 4rem; }
  .footer__about {
    display: flex; }
  .footer__info {
    display: flex;
    flex-basis: 50%; }
  .footer__location {
    flex-basis: 65%;
    padding-right: 2rem;
    display: flex;
    align-items: flex-start; }
    .footer__location > *:first-child {
      margin-right: 2rem; }
    .footer__location svg {
      vertical-align: text-bottom; }
  .footer__contact svg {
    vertical-align: text-bottom; }
  .footer__contact > * {
    display: flex; }
    .footer__contact > * > *:first-child {
      margin-right: 2rem; }
    .footer__contact > *:not(:last-child) {
      margin-bottom: 1.5rem; }
  .footer__navigation {
    flex-basis: 50%;
    display: flex;
    padding-left: 8rem; }
  .footer__nav {
    flex-basis: 60%; }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem; }
  .footer__link {
    color: #fff; }
  .footer__social {
    flex-basis: 40%;
    display: flex; }
    .footer__social > * {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
    .footer__social > *:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__social svg {
      fill: #fff;
      width: 1.5rem;
      height: 1.5rem; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.logo {
  display: block;
  width: 100%; }

.heading-primary,
.paragraph-primary {
  margin: 0 auto;
  color: #fff; }

.heading-primary {
  width: 70%;
  font-size: 3.7rem; }

.paragraph-primary {
  width: 45%; }

.heading-secondary {
  font-size: 3rem;
  width: 70%; }

.heading-tertiary {
  font-size: 2rem; }

.heading-footer {
  font-size: 3.5rem; }

.btn {
  outline: none;
  font-family: "Raleway", sans-serif;
  color: #fff; }

.btn-primary {
  padding: 1.3rem 6rem;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700; }

.btn-remote {
  font-family: "Open Sans", sans-serif;
  color: #65e2d9;
  padding: 0.5rem 2rem 0.5rem 0;
  border-bottom: 1px solid #65e2d9;
  position: relative; }

.btn-form {
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-image: linear-gradient(to right, #65e2d9, #339ecc); }

.button-span {
  position: absolute;
  right: 0;
  transform: translateY(15%); }

.paragraph-tertiary,
.paragraph-credentials,
.paragraph-footer {
  opacity: 0.8; }

.paragraph-user {
  font-weight: 700; }

.paragraph-credentials {
  font-size: 1.2rem; }

.paragraph-footer {
  font-size: 1.4rem; }
