*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif; }

ul {
  list-style: none; }

img {
  display: block; }

a,
a:visited,
a:link {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #fff; }

button {
  border: none; }

.header {
  background-color: #1c2431;
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 3rem; } }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-container {
    flex-basis: 30%; }
  .header__list {
    display: flex; }
    .header__list > *:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .header__list > *:not(:last-child) {
          margin-right: 1rem; } }
  .header__link {
    color: #fff;
    transition: all 0.2s; }
    .header__link:hover {
      text-decoration: underline; }
  .header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0; }
    .header__intro > *:not(:last-child) {
      margin-bottom: 3rem; }
  .header__img {
    display: block;
    width: 80%;
    margin: 0 auto; }
  .header__text-container {
    text-align: center; }
    .header__text-container > *:not(:last-child) {
      margin-bottom: 3rem; }

.section-bonuses {
  background-color: #181f2a;
  padding: 9rem 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-bonuses {
      padding-left: 3rem;
      padding-right: 3rem; } }
  .section-bonuses__bonuses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .section-bonuses__bonuses {
        grid-template-columns: 1fr; } }
  .section-bonuses__bonus {
    text-align: center; }
    .section-bonuses__bonus > *:not(:last-child) {
      margin-bottom: 3rem; }
  .section-bonuses__img {
    width: 115px;
    height: 100px;
    margin: 0 auto; }
  .section-bonuses__text-container {
    width: 50%;
    margin: 0 auto;
    color: #fff; }
    .section-bonuses__text-container > *:not(:last-child) {
      margin-bottom: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .section-bonuses__text-container {
        width: 70%; } }

.section-remote {
  background-color: #181f2a;
  padding: 9rem 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-remote {
      padding-left: 3rem;
      padding-right: 3rem; } }
  .section-remote__content {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .section-remote__content {
        flex-direction: column; } }
  .section-remote__img {
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .section-remote__img {
        width: 60%;
        margin: 0 auto; } }
  .section-remote__text-container {
    padding-top: 10rem;
    padding-left: 3rem;
    flex-basis: 38%;
    color: #fff; }
    @media only screen and (max-width: 50em) {
      .section-remote__text-container {
        padding-left: 0; } }
    .section-remote__text-container > *:not(:last-child) {
      margin-bottom: 2rem; }

.section-testimonials {
  background-color: #181f2a;
  padding: 5rem 5rem 12rem 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-testimonials {
      padding-left: 3rem;
      padding-right: 3rem; } }
  .section-testimonials__testimonials {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .section-testimonials__testimonials {
        flex-direction: column; }
        .section-testimonials__testimonials > *:not(:last-child) {
          margin-bottom: 3rem; } }
  .section-testimonials__testimonial {
    flex-basis: 31%;
    background-color: #202a3c;
    padding: 3rem 2rem 2.5rem 2rem;
    color: #fff; }
    .section-testimonials__testimonial > *:not(:last-child) {
      margin-bottom: 4rem; }
  .section-testimonials__paragraph {
    opacity: 0.8; }
  .section-testimonials__user-container {
    display: flex;
    align-items: center; }
  .section-testimonials__img-container {
    margin-right: 2rem; }
  .section-testimonials__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }

.footer {
  background-color: #0b1523; }
  .footer__box-container {
    background-image: linear-gradient(180deg, #181f2a 60%, #0b1523 0); }
  .footer__box {
    width: 70%;
    padding: 4rem 8rem 3rem 8rem;
    margin: 0 auto;
    background-color: #1c2431;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff; }
    .footer__box > *:not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 75em) {
      .footer__box {
        padding-left: 4rem;
        padding-right: 4rem; } }
    @media only screen and (max-width: 62.5em) {
      .footer__box {
        width: 90%; } }
  .footer__box-text-container > *:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__box-form {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .footer__box-form {
        flex-direction: column;
        width: 60%;
        margin: 0 auto; } }
  @media only screen and (max-width: 50em) and (max-width: 37.5em) {
    .footer__box-form {
      width: 100%; } }
  .footer__input-container {
    flex-basis: 65%; }
  .footer__button-container {
    flex-basis: 35%; }
    @media only screen and (max-width: 50em) {
      .footer__button-container > button {
        width: 100%; } }
  .footer__input {
    width: 100%;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.2rem; }
    .footer__input:focus {
      outline: none; }
    .footer__input:invalid:focus:not(:placeholder-shown) ~ .required {
      opacity: 1; }
  .footer__details {
    padding: 5rem;
    color: #fff; }
    .footer__details p,
    .footer__details a,
    .footer__details img,
    .footer__details svg {
      opacity: 0.9; }
  .footer__logo-container {
    margin-bottom: 4rem; }
  .footer__about {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .footer__about {
        flex-direction: column; } }
  .footer__info {
    display: flex;
    flex-basis: 50%; }
    @media only screen and (max-width: 50em) {
      .footer__info {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__info {
        flex-direction: column; } }
  .footer__location {
    flex-basis: 65%;
    padding-right: 2rem;
    display: flex;
    align-items: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .footer__location {
        padding-right: 0;
        margin-bottom: 2rem; } }
    .footer__location > *:first-child {
      margin-right: 2rem; }
    .footer__location svg {
      vertical-align: text-bottom; }
  .footer__contact svg {
    vertical-align: text-bottom; }
  .footer__contact > * {
    display: flex; }
    .footer__contact > * > *:first-child {
      margin-right: 2rem; }
    .footer__contact > *:not(:last-child) {
      margin-bottom: 1.5rem; }
  .footer__navigation {
    flex-basis: 50%;
    display: flex;
    padding-left: 8rem;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .footer__navigation {
        padding-left: 5rem; } }
    @media only screen and (max-width: 50em) {
      .footer__navigation {
        padding-left: 0;
        flex-direction: column; } }
  .footer__nav {
    flex-basis: 60%; }
    @media only screen and (max-width: 50em) {
      .footer__nav {
        margin-bottom: 4rem; } }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        grid-template-columns: 1fr; } }
  .footer__link {
    color: #fff;
    transition: all 0.2s; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__social {
    flex-basis: 40%;
    display: flex; }
    .footer__social > * {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer__social > *:hover,
      .footer__social > *:hover svg {
        border-color: #65e2d9;
        fill: #65e2d9; }
    .footer__social > *:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__social svg {
      fill: #fff;
      width: 1.6rem;
      height: 1.6rem; }
    @media only screen and (max-width: 50em) {
      .footer__social {
        justify-content: center; } }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.logo {
  display: block;
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      width: 80%; } }

.heading-primary,
.paragraph-primary {
  margin: 0 auto;
  color: #fff; }

.heading-primary {
  width: 70%;
  font-size: 3.7rem; }
  @media only screen and (max-width: 50em) {
    .heading-primary {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      width: 100%;
      font-size: 3.2rem; } }

.paragraph-primary {
  width: 45%; }
  @media only screen and (max-width: 50em) {
    .paragraph-primary {
      width: 100%; } }

.heading-secondary {
  font-size: 3.5rem;
  width: 70%; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      width: 100%;
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 2rem; }

.heading-footer {
  font-size: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-footer {
      font-size: 3rem; } }

.btn {
  outline: none;
  font-family: "Raleway", sans-serif;
  color: #fff; }

.btn-primary {
  padding: 1.3rem 6rem;
  background-image: linear-gradient(to right, #65e2d9, #339ecc, #65e2d9);
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s;
  background-size: 300%; }
  .btn-primary:hover {
    background-position: right; }

.btn-remote {
  font-family: "Open Sans", sans-serif;
  color: #65e2d9;
  padding: 0.5rem 2rem 0.5rem 0;
  border-bottom: 1px solid #65e2d9;
  position: relative; }

.btn-form {
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-image: linear-gradient(to right, #65e2d9, #339ecc, #65e2d9);
  transition: all 0.5s;
  background-size: 300%; }
  .btn-form:hover {
    background-position: right; }

.button-span {
  position: absolute;
  right: 0;
  transform: translateY(15%); }

.paragraph-tertiary,
.paragraph-credentials,
.paragraph-footer {
  opacity: 0.8; }

.paragraph-user {
  font-weight: 700; }

.paragraph-credentials {
  font-size: 1.2rem; }

.paragraph-footer {
  font-size: 1.4rem; }

.required {
  padding-left: 4rem;
  padding-top: 1rem;
  text-align: left;
  color: red;
  opacity: 0;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .required {
      padding-left: 0;
      text-align: center; } }
